body {
  margin: 0;
}

.upload {
  text-align: center;
  padding-top: 10%;

  label, button, input {

    margin: 15px auto;
    display: block;
  }
}

.search {
  text-align: center;

  button {
    margin-top: 10px;

  }

  margin-bottom: 10px;
}

#graph, #file-tree {
  min-height: 60vh;
  display: none;
}

#hist {
  height: 800px;
  max-width: 1280px;
}

#reset_btn, #compare_btn {
  display: none;
}

.fa-folder {
  color: cornflowerblue !important;
}
